// layout/_grid.scss

@use '../base/variables' as var;
@use '../components/mixins' as mix;

.management-grid {
	padding: var.$sp-xsm;
	@include mix.ar-sec();
	margin-top: var.$sp-sm;

	display: grid;
	row-gap: var.$sp-xxsm;
	column-gap: var.$sp-xsm;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}