// layout/_grid.scss

@use '../base/variables' as var;
@use '../components/mixins' as mix;

.management-grid {
	@include mix.ar-obj($p-ns: 15px, $p-we: 20px, $color: var.$dark-green, $hover: 0);
	margin-top: var.$sp-sm;

	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}