// layout/_sidebar.scss

@use '../base/variables' as var;
@use '../components/mixins' as mix;

.sidebar {
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	height: 100%;
	background-color: var.$dark-green;
	padding-top: 60px;
	transition: right 0.3s ease-in-out;
	z-index: 5;

	&.active {
		right: 0;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			margin-bottom: var.$sp-xsm;
			a {
				@include mix.ar-obj($p-ns: 10px, $p-we: 10px, $color: var.$dark-green, $border: 0);
				text-transform: uppercase;
				color: var.$white;
				text-decoration: none;
				font-weight: bold;
			}
			form button {
				@include mix.ar-obj($p-ns: 10px, $p-we: 10px, $color: var.$dark-red, $hcolor: var.$red, $border: 0);
				text-transform: uppercase;
				color: var.$white;
				text-decoration: none;
				font-weight: bold;
			}
			button {
				font-size: var.$fs-f300;
				font-family: var.$ff-head;
				background: none;
				border: none;
				cursor: pointer;
				padding: 0;
			}
		}
	}
}