{% extends 'core/base.html' %}

{% block title %}Detalhes de {{ object.nome }}{% endblock %}

{% block content %}
    <h1>{{ object.nome }}</h1>
    <p><strong>Espécie:</strong> {{ object.especie }}</p>
    <p><strong>Raça:</strong> {{ object.especie.raca }}</p>
    <p><strong>Abrigo:</strong> {{ object.abrigo }}</p>
    <p><strong>Peso:</strong> {{ object.peso }} kg</p>
    <p><strong>Idade:</strong> {{ object.idade }} anos</p>
    <p><strong>Sexo:</strong> {{ object.get_sexo_display }}</p>
    <a href="{% url 'animal-list' %}" class="btn btn-back">Voltar para a Lista</a>
{% endblock %}