{% extends 'core/base.html' %}

{% block title %}Registro de Veterinário{% endblock %}

{% block content %}
    <h1>Registro de Veterinário</h1>
    <form method="post">
        {% csrf_token %}

        <fieldset>
            <legend>Dados Pessoais</legend>
            {{ vet_form.as_p }}
        </fieldset>

        <hr>

        <fieldset>
            <legend>CRMV</legend>
            {{ crmv_form.as_p }}
        </fieldset>

        <hr>

        <fieldset>
            <legend>Endereço</legend>
            {{ endereco_form.as_p }}
        </fieldset>

        <div class="form-btn-wrapper">
            <button type="submit" class="btn">Registrar</button>
        </div>
    </form>
{% endblock %}