{% extends 'core/base.html' %}

{% block title %}Tipos de Consulta{% endblock %}

{% block content %}
    <h1>Tipos de Consulta</h1>
    <a href="{% url 'tipoconsulta-create' %}" class="btn btn-add">Adicionar Tipo de Consulta</a>
    <table>
        <thead>
            <tr>
                {% include 'core/partials/_sortable_header.html' with field_name="descricao" display_name="Descrição" %}
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for tipoconsulta in object_list %}
            <tr>
                <td>{{ tipoconsulta.descricao }}</td>
                <td>
                    <a href="{% url 'tipoconsulta-detail' tipoconsulta.pk %}" class="btn-see"></a>
                    <a href="{% url 'tipoconsulta-update' tipoconsulta.pk %}" class="btn-edit"></a>
                    <a href="{% url 'tipoconsulta-delete' tipoconsulta.pk %}" class="btn-trash"></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="2">Nenhum tipo de consulta cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}