{% extends 'core/base.html' %}

{% block title %}{{ form_title }}{% endblock %}

{% block content %}
    <h1>{{ form_title }}</h1>
    <form method="post">
        {% csrf_token %}

        <fieldset>
            <legend>Dados do Abrigo</legend>
            {{ abrigo_form.as_p }}
        </fieldset>

        <hr>

        <fieldset>
            <legend>Endereço</legend>
            {{ endereco_form.as_p }}
        </fieldset>
        
        <br>
        <div class="form-btn-wrapper">
            <button type="submit" class="btn">Salvar</button>
            <a href="{% url 'abrigo-list' %}" class="btn">Cancelar</a>
        </div>
    </form>
{% endblock %}