{% extends 'core/base.html' %}

{% block title %}Lista de Abrigos{% endblock %}

{% block content %}
    <h1>Abrigos</h1>
    {% if user.is_superuser %}
    <a href="{% url 'abrigo-create' %}" class="btn btn-add">Adicionar Abrigo</a>
    {% endif %}
    <table>
        <thead>
            <tr>
                {% include 'core/partials/_sortable_header.html' with field_name="nome" display_name="Nome do Abrigo" %}
                {% include 'core/partials/_sortable_header.html' with field_name="endereco__logradouro" display_name="Endereço" %}
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for abrigo in object_list %}
            <tr>
                <td>{{ abrigo.nome }}</td>
                <td>{{ abrigo.endereco }}</td>
                <td>
                    {% if user.is_superuser %}
                        <a href="{% url 'abrigo-detail' abrigo.pk %}" class="btn-see"></a>
                        <a href="{% url 'abrigo-update' abrigo.pk %}" class="btn-edit"></a>
                r       <a href="{% url 'abrigo-delete' abrigo.pk %}" class="btn-trash"></a>
                    {% else %}
                        <a href="{% url 'animais-por-abrigo' abrigo.pk %}" class="btn btn-see">Ver Animais</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum abrigo cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}