{% extends 'core/base.html' %}

{% block title %}Lista de Abrigos{% endblock %}

{% block content %}
    <h1>Abrigos</h1>
    {% if user.is_superuser %}
    <a href="{% url 'abrigo-create' %}" class="btn">Adicionar Abrigo</a>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Nome do Abrigo</th>
                <th>Endereço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for abrigo in object_list %}
            <tr>
                <td>{{ abrigo.nome }}</td>
                <td>{{ abrigo.endereco }}</td>
                <td>
                    {% if user.is_superuser %}
                        <a href="{% url 'abrigo-detail' abrigo.pk %}">Ver Detalhes</a>
                        <a href="{% url 'abrigo-update' abrigo.pk %}">Editar</a>
                        <a href="{% url 'abrigo-delete' abrigo.pk %}">Excluir</a>
                    {% else %}
                        <a href="{% url 'animais-por-abrigo' abrigo.pk %}" class="btn">Ver Animais</a>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum abrigo cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}