{% extends 'core/base.html' %}

{% block title %}Lista de Endereços{% endblock %}

{% block content %}
    <h1>Endereços</h1>
    <a href="{% url 'endereco-create' %}" class="btn btn-add">Adicionar Endereço</a>
    <table>
        <thead>
            <tr>
                <th>Logradouro</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for endereco in object_list %}
            <tr>
                <td>{{ endereco.logradouro }}</td>
                <td>{{ endereco.bairro }}</td>
                <td>{{ endereco.cidade }}</td>
                <td>
                    <a href="{% url 'endereco-detail' endereco.pk %}" class="btn-see"></a>
                    <a href="{% url 'endereco-update' endereco.pk %}" class="btn-edit"></a>
                    <a href="{% url 'endereco-delete' endereco.pk %}" class="btn-trash"></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum endereço cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}