{% extends 'core/veterinario/perfil.html' %}

{% block title %}Apagar Conta{% endblock %}

{% block profile_content %}
    <h2>> Apagar Conta</h2>
    <p>Tem certeza de que deseja apagar sua conta? Esta ação não pode ser desfeita.</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-btn-wrapper">
            <button type="submit" class="btn btn-danger">Sim, tenho certeza</button>
            <a href="{% url 'perfil' %}" class="btn">Cancelar</a>
        </div>
    </form>
{% endblock %}