{% extends 'core/base.html' %}

{% block title %}Lista de Veterinários{% endblock %}

{% block content %}
    <h1>Veterinários</h1>
    <a href="{% url 'veterinario-create' %}" class="btn btn-add">Adicionar Veterinário</a>
    <table>
        <thead>
            <tr>
                {% include 'core/partials/_sortable_header.html' with field_name="nome" display_name="Nome" %}
                {% include 'core/partials/_sortable_header.html' with field_name="email" display_name="Email" %}
                {% include 'core/partials/_sortable_header.html' with field_name="telefone" display_name="Telefone" %}
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for veterinario in object_list %}
            <tr>
                <td data-label="Nome">{{ veterinario.nome }}</td>
                <td data-label="Email">{{ veterinario.email }}</td>
                <td data-label="Telefone">{{ veterinario.telefone }}</td>
                <td data-label="Ações">
                    <a href="{% url 'veterinario-detail' veterinario.pk %}" class="btn-see"></a>
                    <a href="{% url 'veterinario-update' veterinario.pk %}" class="btn-edit"></a>
                    <a href="{% url 'veterinario-delete' veterinario.pk %}" class="btn-trash"></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum veterinário cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}