{% extends 'core/base.html' %}

{% block title %}Detalhes de {{ object.nome }}{% endblock %}

{% block content %}
    <h1>{{ object.nome }}</h1>
    <p><strong>CPF:</strong> {{ object.cpf }}</p>
    <p><strong>Email:</strong> {{ object.email }}</p>
    <p><strong>Telefone:</strong> {{ object.telefone }}</p>
    <p><strong>CRMV:</strong> {{ object.crmv }}</p>
    <p><strong>Endereço:</strong> {{ object.endereco }}</p>
    <a href="{% url 'veterinario-list' %}" class="btn btn-back">Voltar para a Lista</a>
{% endblock %}