{% extends 'core/base.html' %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}
    <h1>Tem certeza que deseja excluir o atendimento de "{{ object.animal.nome }}" em {{ object.data_do_atendimento|date:"d/m/Y" }}?</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ back_url }}">
        <div class="form-btn-wrapper">
            <a href="{{ back_url }}" class="btn btn-acc-back btn-back">Cancelar</a>
            <button type="submit" class="btn btn-acc-delete">Sim</button>
        </div>
    </form>
{% endblock %}