{% extends 'core/base.html' %}

{% block title %}Lista de Atendimentos{% endblock %}

{% block content %}
    <h1>Atendimentos Veterinários</h1>
    <a href="{% url 'atendimentoveterinario-create' %}" class="btn btn-add">Adicionar Atendimento</a>
    <table>
        <thead>
            <tr>
                {% include 'core/partials/_sortable_header.html' with field_name="animal__nome" display_name="Animal" %}
                {% include 'core/partials/_sortable_header.html' with field_name="veterinario__nome" display_name="Veterinário" %}
                {% include 'core/partials/_sortable_header.html' with field_name="data_do_atendimento" display_name="Data" %}
                {% include 'core/partials/_sortable_header.html' with field_name="tipo_consulta__descricao" display_name="Tipo de Consulta" %}
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for atendimento in object_list %}
            <tr>
                <td data-label="Animal">{{ atendimento.animal.nome }}</td>
                <td data-label="Veterinário">{{ atendimento.veterinario.nome }}</td>
                <td data-label="Data">{{ atendimento.data_do_atendimento|date:"d/m/Y H:i" }}</td>
                <td data-label="Tipo de Consulta">{{ atendimento.tipo_consulta.descricao }}</td>
                <td data-label="Ações">
                    <a href="{% url 'atendimentoveterinario-detail' atendimento.pk %}" class="btn-see"></a>
                    <a href="{% url 'atendimentoveterinario-update' atendimento.pk %}" class="btn-edit"></a>
                    <a href="{% url 'atendimentoveterinario-delete' atendimento.pk %}" class="btn-trash"></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">Nenhum atendimento cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}