{% extends 'core/base.html' %}

{% block title %}Detalhes do Atendimento{% endblock %}

{% block content %}
<div class="view-container">
    <div class="view-header">
        <h1>Atendimento de {{ object.animal.nome }}</h1>
    </div>
    <div class="view-content">
        <p class="view-item"><strong>Veterinário:</strong> {{ object.veterinario.nome }}</p>
        <p class="view-item"><strong>Data:</strong> {{ object.data_do_atendimento|date:"d/m/Y H:i" }}</p>
        <p class="view-item"><strong>Tipo de Consulta:</strong> {{ object.tipo_consulta.descricao }}</p>
        
        <h2>Observações</h2>
        <p>{{ object.observacoes|linebreaks }}</p>
        
        <h2>Itens Utilizados</h2>
        <ul>
            {% for item_atendimento in object.itemhasatendimentoveterinario_set.all %}
                <li>{{ item_atendimento.quantidade }}x {{ item_atendimento.item.nome }}</li>
            {% empty %}
                <li>Nenhum item foi utilizado.</li>
            {% endfor %}
        </ul>
    </div>
    <div class="view-footer">
        <a href="{{ back_url }}" class="btn btn-back">Voltar</a>
    </div>
</div>
{% endblock %}