* {
  user-select: none;
  margin: 0;
  padding: 0;
  scrollbar-color: #221f1e #151312;
  scrollbar-width: 8px;
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  background-color: #151312;
  width: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #221f1e;
}

html {
  overflow-x: initial;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Gelasio", serif;
  background-color: #151312;
  color: #f2f8f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 1.2rem auto 0 auto;
  max-width: 1600px;
  min-width: 80vw;
  padding-left: 5%;
  padding-right: 5%;
  flex-grow: 1;
}

h1 {
  font-size: clamp(1.44rem, 1.5vw, 2.08rem);
  font-family: "Archivo+Black", sans-serif;
}

h2 {
  font-size: clamp(1.14rem, 1.125vw, 1.68rem);
  font-family: "Archivo+Black", sans-serif;
}

h3 {
  font-size: clamp(1.08rem, 0.9375vw, 1.6rem);
  font-family: "Archivo+Black", sans-serif;
}

h4 {
  font-size: clamp(1.02rem, 1.05vw, 1.44rem);
  font-family: "Archivo+Black", sans-serif;
}

h5 {
  font-size: clamp(0.9rem, 1.05vw, 1.28rem);
  font-family: "Archivo+Black", sans-serif;
}

h6 {
  font-size: 0.75rem;
  font-family: "Archivo+Black", sans-serif;
}

.management-card {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
}
.management-card a {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #0d614a;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #f2f8f7;
  text-decoration: none;
  font-weight: bold;
  font-family: "Archivo+Black", sans-serif;
}
.management-card a::before {
  vertical-align: -4px;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M14.36 5.65L15.84 4.17C16.62 3.39 17.89 3.39 18.67 4.17L20.09 5.59C20.87 6.37 20.87 7.63 20.09 8.41L18.61 9.89M14.36 5.65L4.75 15.27C4.42 15.6 4.21 16.04 4.17 16.51L3.93 19.25C3.87 19.87 4.39 20.38 5.01 20.33L7.75 20.09C8.22 20.05 8.66 19.84 8.99 19.51L18.61 9.89M14.36 5.65L18.61 9.89" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 0.3rem 0 0;
  transform: translate(0, 0);
}
.management-card a:hover {
  background-color: #09503d;
}

table {
  width: 100%;
  border: none;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
table th, table td {
  color: #f2f8f7;
  font-family: "Archivo+Black", sans-serif;
  padding: 8px;
  text-align: center;
}
table th {
  background-color: #003f2e;
}
table td {
  background-color: #09503d;
}
table th a {
  all: unset;
  padding: 0.3rem 0.6rem;
  border-radius: 10px;
  cursor: pointer;
  color: #f2f8f7;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
table th a:hover {
  background-color: #0d614a;
}

@media (min-width: 800px) {
  table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
  table thead th:first-child {
    border-top-left-radius: 10px;
  }
  table thead th:last-child {
    border-top-right-radius: 10px;
  }
}
#id_status_error, .messages li, .errorlist {
  margin: 0 0 0.9rem 1.2rem;
}

@media (max-width: 800px) {
  table {
    border-radius: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    display: block;
    margin-bottom: 0.9rem;
    border-radius: 10px;
    overflow: hidden;
  }
  table td {
    display: block;
    text-align: right;
    position: relative;
    padding-left: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }
  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    width: calc(50% - 20px);
    padding-right: 10px;
    white-space: nowrap;
    text-align: left;
    font-weight: bold;
    color: #a4c2b4;
  }
  table td:last-child {
    display: flex;
    justify-content: flex-end;
    border-bottom-right-radius: 0;
  }
  table td:last-child .btn-see, table td:last-child .btn-edit, table td:last-child .btn-trash {
    margin-top: 0;
  }
  table td:last-child .btn-see:not(:last-of-type), table td:last-child .btn-edit:not(:last-of-type), table td:last-child .btn-trash:not(:last-of-type) {
    margin-right: 0.3rem;
  }
  table td:last-child::before {
    top: 33%;
  }
  table td:first-child {
    border-bottom-left-radius: 0;
  }
}
form .form-group {
  margin-bottom: 1rem;
}
form .form-row {
  display: flex;
  gap: 1rem;
}
form .form-row .form-group {
  flex: 1;
}
form hr {
  display: none;
}
form fieldset {
  border: 0;
  padding: 0.6rem;
  padding: 0.9rem;
  background-color: #003f2e;
  border-radius: 10px;
}
form fieldset:not(:last-of-type) {
  margin-bottom: 1.2rem;
}
form fieldset legend {
  float: left;
  width: 100%;
  font-family: "Archivo+Black", sans-serif;
  font-weight: 700;
  margin-bottom: 1.2rem;
}
form label {
  font-family: "Archivo+Black", sans-serif;
  display: block;
  margin: 1.2rem 0 0.3rem;
  color: #a4c2b4;
}
form ul {
  margin-top: 0.9rem;
}
form #id_new_password2 {
  margin-bottom: 0.3rem;
}
form input, form select, form textarea {
  width: 100%;
  padding: 0.75rem;
  color: #f2f8f7;
  background-color: #09503d;
  border-radius: 10px;
  border: none;
  font-family: "Gelasio", serif;
  font-size: 16px;
}
form input:focus, form select:focus, form textarea:focus {
  outline: 2px solid #0d614a;
}
form input::placeholder, form select::placeholder, form textarea::placeholder {
  color: #a4c2b4;
}
form select {
  display: none;
}
form .custom-select-wrapper {
  position: relative;
  width: 100%;
  color: #f2f8f7;
}
form .custom-select-wrapper.is-disabled .custom-select-trigger {
  background-color: #221f1e;
  color: #f2f8f7;
  cursor: not-allowed;
}
form .custom-select-wrapper.is-disabled .custom-arrow {
  display: none;
}
form .custom-select-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  background-color: #09503d;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Gelasio", serif;
  font-size: 16px;
}
form .custom-select-search {
  flex-grow: 1;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  color: #f2f8f7;
  font-family: "Gelasio", serif;
  font-size: 16px;
}
form .custom-select-search::placeholder {
  color: #a4c2b4;
  opacity: 0.7;
}
form .custom-options {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background-color: #151312;
  color: #f2f8f7;
  border-radius: 10px;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: 1px solid rgba(242, 248, 247, 0.3);
}
form .custom-options::-webkit-scrollbar {
  width: 8px;
  background-color: #003f2e;
}
form .custom-options::-webkit-scrollbar-thumb {
  background-color: #09503d;
  border-radius: 10px;
}
form .custom-option {
  padding: 0.75rem;
  cursor: pointer;
}
form .custom-option:hover, form .custom-option.selected {
  background-color: #0d614a;
  color: #f2f8f7;
}
form .custom-arrow {
  vertical-align: 0;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cpolyline points="6 9 12 15 18 9"%3E%3C/polyline%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 0 0 0;
  transform: translate(0, 0);
  transition: transform 0.2s ease-in-out;
}
form .custom-select-wrapper.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
form .custom-select-wrapper.open .custom-arrow {
  transform: rotate(180deg);
}
form .custom-select-wrapper.open .custom-options.open-upward {
  top: auto;
  bottom: calc(100% + 4px);
}
form .form-btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 0.9rem;
  margin-top: 1.2rem;
}
form button.btn:not(.btn-partial):not(.remove-item-form):not(#add-item-form):not(.btn-acc-delete) {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #003f2e;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  margin-bottom: 0.6rem;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
  width: 20%;
}
form button.btn:not(.btn-partial):not(.remove-item-form):not(#add-item-form):not(.btn-acc-delete):hover {
  background-color: #0d614a;
}
form a.btn:not(.btn-acc-back) {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #770505;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  margin-bottom: 0.6rem;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
  width: 20%;
}
form a.btn:not(.btn-acc-back):hover {
  background-color: #891313;
}
form .btn-partial {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #09503d;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  margin-top: 0.6rem;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
  width: 20%;
}
form .btn-partial:hover {
  background-color: #0d614a;
}
form .remove-item-form {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #770505;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
}
form .remove-item-form:hover {
  background-color: #891313;
}
form .remove-item-form::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M9 13H12H15M3.04 4.29C3.01 4.11 3.08 3.92 3.23 3.81C3.93 3.32 6.31 2 12 2C17.69 2 20.07 3.32 20.77 3.81C20.92 3.92 20.99 4.11 20.96 4.29L19.26 17.04C19.1 18.27 18.36 19.36 17.28 19.98L16.96 20.16C13.89 21.92 10.11 21.92 7.04 20.16L6.72 19.98C5.64 19.36 4.9 18.27 4.74 17.04L3.04 4.29ZM3 5C5.57 7.67 18.43 7.67 21 5" stroke="%23ffffff" stroke-width="2"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}
form #add-item-form {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #09503d;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
}
form #add-item-form:hover {
  background-color: #0d614a;
}
form #add-item-form::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M6 12H12M18 12H12M12 12V6M12 12V18" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.btn-add {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #09503d;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
}
.btn-add:hover {
  background-color: #0d614a;
}
.btn-add::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M6 12H12M18 12H12M12 12V6M12 12V18" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 0 0 0;
  transform: translate(0, -1px);
}

.btn-back {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #09503d;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
}
.btn-back:hover {
  background-color: #0d614a;
}
.btn-back::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3Cline x1="19" y1="12" x2="5" y2="12"%3E%3C/line%3E%3Cpolyline points="12 19 5 12 12 5"%3E%3C/polyline%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 0 0 0;
  transform: translate(0, -1px);
}

.btn-see {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.5rem 0.4rem;
  background-color: #003f2e;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  margin-top: 0.6rem;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
  width: 20px;
}
.btn-see:hover {
  background-color: #0d614a;
}
.btn-see::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml version="1.0" encoding="UTF-8"%3F%3E%3Csvg width="24px" height="24px" viewBox="0 0 24 24" stroke-width="2" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff" data-darkreader-inline-color="" style="--darkreader-inline-color: var(--darkreader-text-ffffff, %23e8e6e3);"%3E%3Cpath d="M3 13C6.6 5 17.4 5 21 13" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: %23ffffff;"%3E%3C/path%3E%3Cpath d="M12 17C10.3431 17 9 15.6569 9 14C9 12.3431 10.3431 11 12 11C13.6569 11 15 12.3431 15 14C15 15.6569 13.6569 17 12 17Z" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: %23ffffff;"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 0 0 0;
  transform: translate(0, -1px);
}

.btn-edit {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.5rem 0.4rem;
  background-color: #003f2e;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  margin-top: 0.6rem;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
  width: 20px;
}
.btn-edit:hover {
  background-color: #0d614a;
}
.btn-edit::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M14.36 5.65L15.84 4.17C16.62 3.39 17.89 3.39 18.67 4.17L20.09 5.59C20.87 6.37 20.87 7.63 20.09 8.41L18.61 9.89M14.36 5.65L4.75 15.27C4.42 15.6 4.21 16.04 4.17 16.51L3.93 19.25C3.87 19.87 4.39 20.38 5.01 20.33L7.75 20.09C8.22 20.05 8.66 19.84 8.99 19.51L18.61 9.89M14.36 5.65L18.61 9.89" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 0 0 0;
  transform: translate(0, -1px);
}

.btn-mini-add {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.5rem 0.4rem;
  background-color: #003f2e;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
  width: 20px;
}
.btn-mini-add:hover {
  background-color: #0d614a;
}
.btn-mini-add::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M6 12H12M18 12H12M12 12V6M12 12V18" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 0 0 0;
  transform: translate(0, -1px);
}

.btn-trash {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.5rem 0.4rem;
  background-color: #770505;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  margin-top: 0.6rem;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
  width: 20px;
}
.btn-trash:hover {
  background-color: #891313;
}
.btn-trash::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M9 13H12H15M3.04 4.29C3.01 4.11 3.08 3.92 3.23 3.81C3.93 3.32 6.31 2 12 2C17.69 2 20.07 3.32 20.77 3.81C20.92 3.92 20.99 4.11 20.96 4.29L19.26 17.04C19.1 18.27 18.36 19.36 17.28 19.98L16.96 20.16C13.89 21.92 10.11 21.92 7.04 20.16L6.72 19.98C5.64 19.36 4.9 18.27 4.74 17.04L3.04 4.29ZM3 5C5.57 7.67 18.43 7.67 21 5" stroke="%23ffffff" stroke-width="2"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 0 0 0;
  transform: translate(0, -1px);
}

.btn-acc-delete {
  all: unset;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #770505;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  color: #f2f8f7;
  text-decoration: none;
  font-family: "Archivo+Black", sans-serif;
}
.btn-acc-delete:hover {
  background-color: #891313;
}
.btn-acc-delete::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M9 13H12H15M3.04 4.29C3.01 4.11 3.08 3.92 3.23 3.81C3.93 3.32 6.31 2 12 2C17.69 2 20.07 3.32 20.77 3.81C20.92 3.92 20.99 4.11 20.96 4.29L19.26 17.04C19.1 18.27 18.36 19.36 17.28 19.98L16.96 20.16C13.89 21.92 10.11 21.92 7.04 20.16L6.72 19.98C5.64 19.36 4.9 18.27 4.74 17.04L3.04 4.29ZM3 5C5.57 7.67 18.43 7.67 21 5" stroke="%23ffffff" stroke-width="2"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.view-container {
  padding: 0.9rem;
  background-color: #003f2e;
  border-radius: 10px;
  margin-top: 0.9rem;
  display: flex;
  flex-direction: column;
}
.view-container .view-header {
  margin-bottom: 0.9rem;
  padding-bottom: 0.9rem;
  border-bottom: 1px solid rgba(242, 248, 247, 0.1);
}
.view-container .view-header h1 {
  margin-bottom: 0;
}
.view-container .view-content {
  flex-grow: 1;
}
.view-container .view-content .view-item {
  font-size: 18px;
  margin-bottom: 0.6rem;
  line-height: 1.6;
}
.view-container .view-content .view-item strong {
  font-family: "Archivo+Black", sans-serif;
  color: #a4c2b4;
  margin-right: 0.3rem;
}
.view-container .view-content h2 {
  font-family: "Archivo+Black", sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0.6rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid rgba(242, 248, 247, 0.1);
}
.view-container .view-content ul {
  list-style-position: inside;
  padding-left: 0.6rem;
  margin-top: 0.9rem;
}
.view-container .view-content ul li {
  margin-bottom: 0.3rem;
}
.view-container .view-footer {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  padding-top: 1.2rem;
  border-top: 1px solid rgba(242, 248, 247, 0.1);
}

header {
  font-size: 16px;
  font-family: "Archivo+Black", sans-serif;
  background-color: #003f2e;
  color: #f2f8f7;
  padding: 10px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav button {
  font-size: 16px;
  font-family: "Archivo+Black", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
header nav .nav-brand {
  text-transform: uppercase;
  color: #f2f8f7;
  font-family: "Archivo+Black", sans-serif;
  text-decoration: none;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
}
header nav .nav-brand img {
  margin-left: 5px;
  height: 40px;
  width: auto;
}
header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
header nav ul li {
  display: flex;
  align-items: center;
  margin: 0 4px;
}

.nav-desktop a {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #003f2e;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: #f2f8f7;
  text-decoration: none;
}
.nav-desktop a:hover {
  background-color: #0d614a;
}
.nav-desktop button {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #770505;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: #f2f8f7;
  text-decoration: none;
}
.nav-desktop button:hover {
  background-color: #891313;
}

.nav-mobile {
  z-index: 99;
  display: none;
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
.hamburger-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #f2f8f7;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
.hamburger-btn.active span:nth-child(1) {
  transform: translateY(8.5px) rotate(45deg);
}
.hamburger-btn.active span:nth-child(2) {
  opacity: 0;
}
.hamburger-btn.active span:nth-child(3) {
  transform: translateY(-8.5px) rotate(-45deg);
}

@media (max-width: 800px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
}
.nav-gerenciamento::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M5 12V18C5 18 5 21 12 21C19 21 19 18 19 18V12M5 6V12C5 12 5 15 12 15C19 15 19 12 19 12V6M12 3C19 3 19 6 19 6C19 6 19 9 12 9C5 9 5 6 5 6C5 6 5 3 12 3Z" stroke="%23ffffff" stroke-width="2"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.nav-dashboard::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M3 3.6V20.4C3 20.73 3.27 21 3.6 21H20.4C20.73 21 21 20.73 21 20.4V3.6C21 3.27 20.73 3 20.4 3H3.6C3.27 3 3 3.27 3 3.6ZM6 6V16M10 6V9M14 6V13M18 6V11" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.nav-abrigo::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M11 19V21M11 12V16M16 12V16L14 16M21 12L8 12M5 12H3M3 5L12 3L21 5M21 8.6V20.4C21 20.73 20.73 21 20.4 21H3.6C3.27 21 3 20.73 3 20.4V8.6C3 8.27 3.27 8 3.6 8H20.4C20.73 8 21 8.27 21 8.6Z" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.nav-estoque::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M10 15V19C10 20.1 9.1 21 8 21H4C2.9 21 2 20.1 2 19V15C2 13.9 2.9 13 4 13H8C9.1 13 10 13.9 10 15ZM16 5V9C16 10.1 15.1 11 14 11H10C8.9 11 8 10.1 8 9V5C8 3.9 8.9 3 10 3H14C15.1 3 16 3.9 16 5ZM22 15V19C22 20.1 21.1 21 20 21H16C14.9 21 14 20.1 14 19V15C14 13.9 14.9 13 16 13H20C21.1 13 22 13.9 22 15ZM6 16V13M12 6V3M18 16V13" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.nav-perfil::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23ffffff" viewBox="0 0 256 256"%3E%3Cpath d="M234.38,210a123.36,123.36,0,0,0-60.78-53.23,76,76,0,1,0-91.2,0A123.36,123.36,0,0,0,21.62,210a12,12,0,1,0,20.77,12c18.12-31.32,50.12-50,85.61-50s67.49,18.69,85.61,50a12,12,0,0,0,20.77-12ZM76,96a52,52,0,1,1,52,52A52.06,52.06,0,0,1,76,96Z"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.nav-sair::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M4.5 8C8.5 8 11 8 15 8C15 8 15 8 15 8C15 8 20 8 20 12.71C20 18 15 18 15 18C11.57 18 9.71 18 6.29 18M7.5 11.5C6.13 10.13 5.37 9.37 4 8C5.37 6.63 6.13 5.87 7.5 4.5" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.nav-login::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml version="1.0" encoding="UTF-8"%3F%3E%3Csvg width="24px" height="24px" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff" data-darkreader-inline-color="" style="--darkreader-inline-color: var(--darkreader-text-ffffff, %23e8e6e3);"%3E%3Cpath d="M19 12H12M12 12L15 15M12 12L15 9" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: %23ffffff;"%3E%3C/path%3E%3Cpath d="M19 6V5C19 3.89543 18.1046 3 17 3H7C5.89543 3 5 3.89543 5 5V19C5 20.1046 5.89543 21 7 21H17C18.1046 21 19 20.1046 19 19V18" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: %23ffffff;"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.nav-registrar::before {
  vertical-align: -36%;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3C%3Fxml version="1.0" encoding="UTF-8"%3F%3E%3Csvg width="24px" height="24px" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff" data-darkreader-inline-color="" style="--darkreader-inline-color: var(--darkreader-text-ffffff, %23e8e6e3);"%3E%3Cpath d="M18 18H20M22 18H20M20 18V16M20 18V20" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: %23ffffff;"%3E%3C/path%3E%3Cpath d="M2 11L20 11" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: %23ffffff;"%3E%3C/path%3E%3Cpath d="M2 17L14 17" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: %23ffffff;"%3E%3C/path%3E%3Cpath d="M2 5L20 5" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-darkreader-inline-stroke="" style="--darkreader-inline-stroke: %23ffffff;"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.sidebar {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #003f2e;
  padding-top: 60px;
  transition: right 0.3s ease-in-out;
  z-index: 5;
}
.sidebar.active {
  right: 0;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar ul li {
  margin-bottom: 0.6rem;
}
.sidebar ul li a {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px 10px;
  background-color: #003f2e;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  color: #f2f8f7;
  text-decoration: none;
  font-weight: bold;
}
.sidebar ul li a:hover {
  background-color: #0d614a;
}
.sidebar ul li form button {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 10px 10px;
  background-color: #770505;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  text-transform: uppercase;
  color: #f2f8f7;
  text-decoration: none;
  font-weight: bold;
}
.sidebar ul li form button:hover {
  background-color: #891313;
}
.sidebar ul li button {
  font-size: 16px;
  font-family: "Archivo+Black", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  z-index: 4;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}

h1 {
  margin-bottom: 0.9rem;
}

.management-grid {
  padding: 0.6rem;
  padding: 0.9rem;
  background-color: #003f2e;
  border-radius: 10px;
  margin-top: 0.9rem;
  display: grid;
  row-gap: 0.3rem;
  column-gap: 0.6rem;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  width: 100%;
}

.profile-sidebar {
  flex: 1 1 280px;
  background-color: #003f2e;
  border-radius: 10px;
  padding: 1.5rem;
  height: fit-content;
  width: 100%;
}

.profile-header {
  text-align: center;
  margin-bottom: 2rem;
}
.profile-header .profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 1rem auto;
  display: block;
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="%23ffffff" viewBox="0 0 256 256"%3E%3Cpath d="M234.38,210a123.36,123.36,0,0,0-60.78-53.23,76,76,0,1,0-91.2,0A123.36,123.36,0,0,0,21.62,210a12,12,0,1,0,20.77,12c18.12-31.32,50.12-50,85.61-50s67.49,18.69,85.61,50a12,12,0,0,0,20.77-12ZM76,96a52,52,0,1,1,52,52A52.06,52.06,0,0,1,76,96Z"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 60px 60px;
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #f2f8f7;
}
.profile-header h3 {
  margin-bottom: 0.25rem;
  color: #f2f8f7;
}
.profile-header p {
  color: #a4c2b4;
  margin: 0;
}

.profile-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}
.profile-nav li {
  margin-bottom: 0.75rem;
}

.nav-info, .nav-address, .nav-password {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #0d614a;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: #f2f8f7;
  font-family: "Archivo+Black", sans-serif;
  width: 100%;
}
.nav-info:hover, .nav-address:hover, .nav-password:hover {
  background-color: #09503d;
}
.nav-info:hover, .nav-address:hover, .nav-password:hover {
  background-color: #09503d;
}

.nav-link-delete {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0.75rem 0.75rem;
  background-color: #770505;
  border-radius: 10px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  height: 100%;
  color: #f2f8f7;
  font-family: "Archivo+Black", sans-serif;
  width: 100%;
}
.nav-link-delete:hover {
  background-color: #891313;
}

.nav-info::before {
  vertical-align: -5px;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M6 6L18 6M6 10H18M13 14L18 14M13 18L18 18M2 21.4V2.6C2 2.27 2.27 2 2.6 2H21.4C21.73 2 22 2.27 22 2.6V21.4C22 21.73 21.73 22 21.4 22H2.6C2.27 22 2 21.73 2 21.4ZM6 18V14H9V18H6Z" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.nav-address::before {
  vertical-align: -5px;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M11 19V21M11 12V16M16 12V16L14 16M21 12L8 12M5 12H3M3 5L12 3L21 5M21 8.6V20.4C21 20.73 20.73 21 20.4 21H3.6C3.27 21 3 20.73 3 20.4V8.6C3 8.27 3.27 8 3.6 8H20.4C20.73 8 21 8.27 21 8.6Z" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.nav-password::before {
  vertical-align: -5px;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M16 12H17.4C17.7314 12 18 12.2686 18 12.6V20.4C18 20.7314 17.7314 21 17.4 21H6.6C6.26863 21 6 20.7314 6 20.4V12.6C6 12.2686 6.26863 12 6.6 12H8M16 12V8C16 5.79086 14.2091 4 12 4C9.79086 4 8 5.79086 8 8V12M16 12H8" stroke="%23ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.nav-delete::before {
  vertical-align: -5px;
  display: inline-flex;
  content: "";
  mask-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg width="24" height="24" stroke-width="2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23ffffff"%3E%3Cpath d="M9 13H12H15M3.04 4.29C3.01 4.11 3.08 3.92 3.23 3.81C3.93 3.32 6.31 2 12 2C17.69 2 20.07 3.32 20.77 3.81C20.92 3.92 20.99 4.11 20.96 4.29L19.26 17.04C19.1 18.27 18.36 19.36 17.28 19.98L16.96 20.16C13.89 21.92 10.11 21.92 7.04 20.16L6.72 19.98C5.64 19.36 4.9 18.27 4.74 17.04L3.04 4.29ZM3 5C5.57 7.67 18.43 7.67 21 5" stroke="%23ffffff" stroke-width="2"%3E%3C/path%3E%3C/svg%3E');
  mask-size: 20px 20px;
  background-color: #f2f8f7;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  transform: translate(0, -1px);
}

.profile-content {
  flex: 1 1 500px;
  background-color: #003f2e;
  border-radius: 10px;
  padding: 2rem;
}
.profile-content h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-family: "Archivo+Black", sans-serif;
}
.profile-content .messages {
  list-style-type: none;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: #0d614a;
  color: #f2f8f7;
}
.profile-content .btn-danger {
  background-color: #770505;
}
.profile-content .btn-danger:hover {
  background-color: #891313;
}

footer {
  z-index: 0;
  height: 112px;
  font-size: 16px;
  font-family: "Archivo+Black", sans-serif;
  color: #f2f8f7;
  padding: 10px 0;
  text-align: center;
}
footer .footer-bg {
  height: 112px;
  width: 100%;
  position: relative;
  z-index: 1;
}
footer .footer-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../img/wolf-bg.png");
  background-repeat: repeat;
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

/*# sourceMappingURL=app.css.map */
