{% extends 'core/base.html' %}

{% block title %}Lista de Espécies{% endblock %}

{% block content %}
    <h1>Espécies</h1>
    <a href="{% url 'especie-create' %}" class="btn btn-add">Adicionar Espécie</a>
    <table>
        <thead>
            <tr>
                <th>Nome Popular</th>
                <th>Nome Científico</th>
                <th>Expectativa de Vida</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for especie in object_list %}
            <tr>
                <td data-label="Nome Popular">{{ especie.nome_popular }}</td>
                <td data-label="Nome Científico">{{ especie.nome_cientifico }}</td>
                <td data-label="Expectativa de Vida">{{ especie.expectativa_de_vida }} anos</td>
                <td data-label="Ações">
                    <a href="{% url 'especie-detail' especie.pk %}" class="btn-see"></a>
                    <a href="{% url 'especie-update' especie.pk %}" class="btn-edit"></a>
                    <a href="{% url 'especie-delete' especie.pk %}" class="btn-trash"></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhuma espécie cadastrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}