{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Anjos da Rua{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Gelasio:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
    {% include 'core/partials/_header.html' %}

    <div class="overlay"></div>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    {% include 'core/partials/_footer.html' %}

    <script src="https://unpkg.com/imask"></script>

    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/form_masks.js' %}"></script>
    <script src="{% static 'js/form_styles.js' %}"></script>
    
    {% block extra_js %}{% endblock %}
</body>
</html>