// components/_cards.scss

@use '../base/variables' as var;
@use 'mixins' as mix;

.management-card {
	display: flex;
	align-items: center;
	margin-bottom: var.$sp-xxsm;
	a {
		&::before {
			@include mix.ar-icon(var.$editar-ico, var.$csize-head, var.$white, -4px, 0, var.$sp-xxsm, 0, 0, 0);
		}
		@include mix.ar-obj($color: var.$light-green, $hcolor: var.$medium-green, $border: 0);
		width: 100%;
		color: var.$white;
		text-decoration: none;
		font-weight: bold;
		font-family: var.$ff-head;
	}
}