// components/_mixins.scss

@use "../base/variables" as var;

@mixin transition() {
   transition: all .3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

@mixin hover($color: var.$medium-green) {
   background-color: $color;
}

@mixin ar-border($side: all) {
   border: 1px solid rgba(var.$white, .3);
   @if $side == top {
      border-bottom: 0;
      border-left: 0;
      border-right: 0;
   } @else if $side == right {
      border-top: 0;
      border-left: 0;
      border-bottom: 0;
   } @else if $side == left {
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
   } @else if $side == bottom {
      border-top: 0;
      border-left: 0;
      border-right: 0;
   }
}

@mixin ar-obj($color: var.$medium-green, $p-ns: 0.75rem, $p-we: .75rem, $hcolor: var.$light-green, $border: 1, $hover: 1) {
   @include transition();
   padding: $p-ns $p-we;
   background-color: $color;
   border-radius: var.$round;

   text-decoration: none;
   
   display: inline-flex;
   align-items: center;

   height: 100%;
   
   @if $border == 1 {
      @include ar-border;
   }
   @if $hover == 1 {
      &:hover {
         @include hover($hcolor);
      }
   }
}

@mixin ar-sec($padding: var.$sp-sm, $color: var.$dark-green) {
   padding: $padding;
   background-color: $color;
   border-radius: var.$round;
}

@mixin ar-btn($p-ns: 5px, $p-we: 10px, $border: 1, $color: var.$medium-green, $hcolor: var.$light-green, $rvar: 1) {
   user-select: none;
   background-color: var.$dark-green;
   @if $border == 1 {
      @include ar-border;
   }
   border-radius: calc(var.$round / $rvar);
   padding: $p-ns $p-we;
   cursor: pointer;
   @include transition;
   &:hover {
      @include hover($hcolor);
   }
}

@mixin ar-icon($svg, $size, $color, $valign: middle, $margin-top, $margin-right, $margin-bottom, $margin-left, $fix: 0) {
   vertical-align: $valign;

   display: inline-flex;
   content: '';
   mask-image: url(
      'data:image/svg+xml;charset=UTF-8,' + $svg
   );
   mask-size: $size $size;
   background-color: $color;
   height: $size;
   width: $size;

   margin: $margin-top $margin-right $margin-bottom $margin-left;
   transform: translate(0, $fix);
}