@use "sass:color";

@use "components/mixins" as mix;
@use "components/variaveis" as var;

// Variáveis

// Melhorias-base
* {
	user-select: none;
   margin: 0;
   padding: 0;

   scrollbar-color: var.$gray var.$dark-gray;
   scrollbar-width: 8px;

   ::-webkit-scrollbar {
      background-color: var.$dark-gray;
      width: 8px;
      &-thumb {
         background-color: var.$gray;
      }
   }
   
   box-sizing: border-box;
}

html {
   overflow-x: initial;
}

body {
   margin: 0;
   overflow-x: hidden;
   font-family: var.$ff-body;
   background-color: var.$dark-gray;
   color: var.$white;
   
   min-height: 100vh;
   display: flex; 
   flex-direction: column; 
}

.container {
	margin: var.$sp-sm auto 0 auto;
	max-width: var.$site-content-maxwidth;
	min-width: 80vw;
	padding-left: var.$sp-site;
	padding-right: var.$sp-site;
	flex-grow: 1;
}

// Header e Footer
header, footer {
	font-size: var.$fs-f300;
	font-family: var.$ff-head;
	background-color: var.$dark-green;
	color: var.$white;
	padding: 10px 20px;
	text-align: center;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	position: relative;
	& nav {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		button {
			font-size: var.$fs-f300;
			font-family: var.$ff-head;
			background: none;
			border: none;
			cursor: pointer;
			padding: 0;
		}

		a, button {
			@include mix.ar-obj($color: var.$dark-green);
			text-transform: uppercase;
			color: var.$white;
			text-decoration: none;
			font-weight: bold;
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			li {
				display: flex;
				align-items: center;
                margin: 0 5px;
			}
		}
	}
}

.nav-mobile {
	z-index: 99;
	display: none;
}

.hamburger-btn {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30px;
	height: 25px;
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 0;

	span {
		display: block;
		width: 100%;
		height: 3px;
		background-color: var.$white;
		border-radius: 3px;
		transition: all 0.3s ease-in-out;
	}
}

.sidebar {
	position: fixed;
	top: 0;
	right: -250px;
	width: 250px;
	height: 100%;
	background-color: var.$dark-green;
	padding-top: 60px;
	transition: right 0.3s ease-in-out;
	z-index: 5;

	&.active {
		right: 0;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			padding: 15px 20px;
			a, button {
				@include mix.ar-obj($color: var.$dark-green);
				text-transform: uppercase;
				color: var.$white;
				text-decoration: none;
				font-weight: bold;
			}
		}
	}
}


@media (max-width: #{var.$desktop}) {
	.nav-desktop {
		display: none;
	}
	.nav-mobile {
		display: block;
	}
}

$nav-espacamento: 5px;

.nav-gerenciamento {
	&::before {
		@include mix.ar-icon(var.$gerenciamento-ico, var.$csize-ico, var.$white, var.$default-valign, 0, 2px, 0, 0, 0);
	}
}

.nav-dashboard {
	&::before {
		@include mix.ar-icon(var.$dashboard-ico, var.$csize-ico, var.$white, var.$default-valign, 0, $nav-espacamento, 0, 0, 0);
	}
}

.nav-abrigo {
	&::before {
		@include mix.ar-icon(var.$abrigo-ico, var.$csize-ico, var.$white, var.$default-valign, 0, $nav-espacamento, 0, 0, 0);
	}
}

.nav-estoque {
	&::before {
		@include mix.ar-icon(var.$estoque-ico, var.$csize-ico, var.$white, var.$default-valign, 0, $nav-espacamento, 0, 0, 0);
	}
}

.nav-sair {
	&::before {
		@include mix.ar-icon(var.$sair-ico, var.$csize-ico, var.$white, var.$default-valign, 0, 0, 0, 0, 0);
	}
}

// Titulos e Afins
h1 { font-size: var.$fs-600; font-family: var.$ff-head; }
h2 { font-size: var.$fs-500; font-family: var.$ff-head; }
h3 { font-size: var.$fs-400; font-family: var.$ff-head; }
h4 { font-size: var.$fs-300; font-family: var.$ff-head; }
h5 { font-size: var.$fs-200; font-family: var.$ff-head; }
h6 { font-size: var.$fs-100; font-family: var.$ff-head; }

// Grid de Management
.management-grid {
	@include mix.ar-obj($p-ns: 15px, $p-we: 20px, $color: var.$dark-green, $hover: 0);
	margin-top: var.$sp-sm;

	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
}

.management-card {
	display: flex;
	align-items: center;
	margin-bottom: var.$sp-xxsm;
	a {
		&::before {
			@include mix.ar-icon(var.$editar-ico, var.$csize-head, var.$white, -4px, 0, var.$sp-xxsm, 0, 0, 0);
		}
		@include mix.ar-btn($p-ns: 5px, $p-we: 10px);
		width: 95%;
		color: var.$white;
		text-decoration: none;
		font-weight: bold;
		font-family: var.$ff-head;
	}
}

// Tabelas
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;

	th, td {
		border: 1px solid #ddd;
		padding: 8px;
		text-align: left;
	}

	th {
		background-color: var.$gray;
	}
}