{% extends 'core/base.html' %}

{% block title %}Lista de Cidades{% endblock %}

{% block content %}
    <h1>Cidades</h1>
    <a href="{% url 'cidade-create' %}" class="btn btn-add">Adicionar Cidade</a>
    <table>
        <thead>
            <tr>
                <th>Cidade</th>
                <th>UF</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for cidade in object_list %}
            <tr>
                <td data-label="Cidade">{{ cidade.cidade }}</td>
                <td data-label="UF">{{ cidade.uf.sigla }}</td>
                <td data-label="Ações">
                    <a href="{% url 'cidade-detail' cidade.pk %}" class="btn-see"></a>
                    <a href="{% url 'cidade-update' cidade.pk %}" class="btn-edit"></a>
                    <a href="{% url 'cidade-delete' cidade.pk %}" class="btn-trash"></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhuma cidade cadastrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}