{% extends 'core/base.html' %}

{% block title %}Lista de CRMVs{% endblock %}

{% block content %}
    <h1>CRMV</h1>
    <a href="{% url 'crmv-create' %}" class="btn btn-add">Adicionar CRMV</a>
    <table>
        <thead>
            <tr>
                {% include 'core/partials/_sortable_header.html' with field_name="numero" display_name="Número" %}
                {% include 'core/partials/_sortable_header.html' with field_name="estado__sigla" display_name="Estado" %}
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for crmv in object_list %}
            <tr>
                <td data-label="Número">{{ crmv.numero }}</td>
                <td data-label="Estado">{{ crmv.estado.sigla }}</td>
                <td data-label="Ações">
                    <a href="{% url 'crmv-detail' crmv.pk %}" class="btn-see"></a>
                    <a href="{% url 'crmv-update' crmv.pk %}" class="btn-edit"></a>
                    <a href="{% url 'crmv-delete' crmv.pk %}" class="btn-trash"></a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">Nenhum CRMV cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}