<header>
    <nav>
        <a href="{% url 'index' %}" class="nav-brand">Anjos da Rua</a>

        <div class="nav-desktop">
            <ul>
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li><a class="nav-gerenciamento" href="{% url 'gerenciamento' %}">Gerenciamento</a></li>
                        <li><a class="nav-dashboard" href="{% url 'admin:index' %}">Dashboard</a></li>
                    {% else %}
                        <li><a class="nav-abrigo" href="{% url 'abrigo-list' %}">Abrigos</a></li>
                        <li><a class="nav-estoque" href="{% url 'item-list' %}">Estoque</a></li>
                    {% endif %}

                    <li><a href="{% url 'perfil' %}" class="nav-perfil">Perfil</a></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post" style="display: inline;">
                            {% csrf_token %}
                            <button class="nav-sair" type="submit">
                                Sair
                            </button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="nav-login">Entrar</a></li>
                    <li><a href="{% url 'registro_veterinario' %}" class="nav-registrar">Registrar-se</a></li>
                {% endif %}
            </ul>
        </div>

        <div class="nav-mobile">
            <button class="hamburger-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </nav>
    <div class="sidebar">
        <ul>
            {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li><a class="nav-gerenciamento" href="{% url 'gerenciamento' %}">Gerenciamento</a></li>
                    <li><a class="nav-dashboard" href="{% url 'admin:index' %}">Dashboard</a></li>
                {% else %}
                    <li><a class="nav-abrigo" href="{% url 'abrigo-list' %}">Abrigos</a></li>
                    <li><a class="nav-estoque" href="{% url 'item-list' %}">Estoque</a></li>
                {% endif %}

                <li><a href="#" class="nav-perfil">Olá, {{ user.nome }}</a></li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button class="nav-sair" type="submit">
                            Sair
                        </button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Entrar</a></li>
                <li><a href="{% url 'registro_veterinario' %}">Registrar-se</a></li>
            {% endif %}
        </ul>
    </div>
</header>